<div class="col s12 m7">
    <h2 class="header">About Timmy's Flash Cards</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="../assets/images/tim2.png">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <strong><p>Created By:</p></strong><span>Rick V.</span>
                <strong><p>Built with:</p></strong><span>Angular 4 and Materialize</span>
            </div>
            <div class="card-action">
                <a href="https://github.com/vanrick/ng4_timmyFlashCards">GitHub</a>
            </div>
        </div>
    </div>
</div>