<div class="col s12 m7">
    <h2 class="header">About Timmy's Flash Cards</h2>
    <div class="card horizontal">
        <div class="card-image">
            <img src="https://static1.squarespace.com/static/5642afd3e4b0eaf052aff195/564a3085e4b008b30b4df6f1/573882eb555986b60e6cfe62/1463321371721/duncan_instagram.png?format=500w">
        </div>
        <div class="card-stacked">
            <div class="card-content">
                <strong><p>Created By:</p></strong><span>Rick V.</span>
                <strong><p>Built with:</p></strong><span>Angular 4 and Materialize</span>
            </div>
            <div class="card-action">
                <a href="https://github.com/vanrick/ng4_timmyFlashCards">GitHub</a>
            </div>
        </div>
    </div>
</div>