<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<div class="row valign-wrapper">
    <div class="col s6 offset-s3 valign">
        <div class="main">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <div class="activator problem">
                        <div class="first">{{mathProblem?.first}}</div>
                        <div class="operator">{{mathProblem?.operator}}</div>
                        <div class="second">{{mathProblem?.second}}</div>
                        <div class="line"></div>
                    </div>
                    <!--<img class="activator" src="http://materializecss.com/images/office.jpg">-->
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Click To Reveal<i class="material-icons right">done</i></span>
                </div>
                <div class="card-reveal">
                    <span (click)="getNextProblem()" class="card-title grey-text text-darken-4">Answer<i class="material-icons right">close</i></span>
                    <img class="activator tim_pic" src="../assets/images/tim4.jpg">
                    <div class="value">{{mathProblem?.value | number}}</div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--*ngIf="showValue"-->