<!--<h1>
    {{title}}
</h1>-->
<nav>
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo"><img src="https://lh3.ggpht.com/vauqEgjaYd1SySc8OsIEi0b3a4WyH5QNtyixerKpCe3g3lP9ntp2IsY-NTXwtiMuvc8=w170" alt="">TFC</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="sass.html"><i class="material-icons left">search</i>Link with Left Icon</a></li>
            <li><a href="badges.html"><i class="material-icons right">view_module</i>Link with Right Icon</a></li>
        </ul>
    </div>
</nav>
<router-outlet>

</router-outlet>