<!--<h1>
    {{title}}
</h1>-->
<nav>
    <div class="nav-wrapper">
        <span>
        <a href="/" class="brand-logo"><img src="https://lh3.ggpht.com/vauqEgjaYd1SySc8OsIEi0b3a4WyH5QNtyixerKpCe3g3lP9ntp2IsY-NTXwtiMuvc8=w170" alt="">
            TFC
        </a>
        </span>
        <ul class="right hide-on-med-and-down">
            <li><a href="/settings">Settings</a></li>
            <li><a href="/about"><i class="material-icons right">view_module</i>About</a></li>
        </ul>
    </div>
</nav>
<router-outlet>

</router-outlet>