<div class="row">
    <div id='home-card' class="col s10 m6 offset-m3 offset-s1 valign">
        <div class="card">
            <div class="card-image">
                <img src="../assets/images/tim3.jpg">
                <span class="card-title">Welcome to Timmy's Flash Cards</span>
            </div>
            <div class="card-content">
                <p>Are you trying to help your stubborn nephews with their Math class? Do you spend countless hours trying to remind them to study? Timmy's Flash Cards are here to help. He's not just the best power forward of all time he is also a math magician.
                    Timmy's Flash Cards are the best way to help your kids learn basic math and have fun!</p>
                <br>
                <a class="waves-effect waves-light btn-large" routerLink="/game"><i class="material-icons left">play_circle_filled</i>Let's Play!</a>
            </div>
        </div>
    </div>
</div>