<div class="row">
    <!--<form [formGroup]="settingsForm">-->
    <h1>Settings</h1>
    <div class="col s12 m5">
        <div class="card-panel white">
            <form [formGroup]="settingsForm">
                <label for="difficulty"><h5>Difficulty:</h5></label>
                <div id='difficulty' class="input-field">
                    <p>
                        <input type="radio" class="with-gap" id="easy_box" value="0" checked="checked" formControlName="difficulty" />
                        <label for="easy_box">easy</label>
                    </p>
                    <p>
                        <input type="radio" class="with-gap" id="medium_box" value="1" formControlName="difficulty" />
                        <label for="medium_box">medium</label>
                    </p>
                    <p>
                        <input type="radio" class="with-gap" id="hard_box" value="2" formControlName="difficulty" />
                        <label for="hard_box">hard</label>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <div class="col s12 m5">
        <div class="card-panel white">
            <form [formGroup]="settingsForm">
                <label for="math-type"><h5>Math Type:</h5></label>
                <div id="math-type" class="input-field">
                    <p>
                        <input type="radio" class="with-gap" id="all_box" value="0" checked="checked" formControlName="mathType" />
                        <label for="all_box">all</label>
                    </p>
                    <p>
                        <input type="radio" class="with-gap" id="addition_box" value="1" formControlName="mathType" />
                        <label for="addition_box">addition</label>
                    </p>
                    <p>
                        <input type="radio" class="with-gap" id="subtraction_box" value="2" formControlName="mathType" />
                        <label for="subtraction_box">subtraction</label>
                    </p>
                    <p>
                        <input type="radio" class="with-gap" id="multiplication_box" value="3" formControlName="mathType" />
                        <label for="multiplication_box">multiplication</label>
                    </p>
                    <p>
                        <input type="radio" class="with-gap" id="division_box" value="4" formControlName="mathType" />
                        <label for="division_box">division</label>
                    </p>
                </div>
            </form>
        </div>
    </div>

    <!--</form>-->

    <div class="col s3 m5">
        <a class="waves-effect waves-light btn-large" routerLink="/game"><i class="material-icons left">play_circle_filled</i>Let's Play!</a>
    </div>
</div>